<div class="row">
  <div class="col-xs-12">

    <div class="catalogue__header text-center">
      <i class="glyphicon glyphicon-shopping-cart"></i>
      <span class="order-count">{{model.order.totalItems}}</span>
      <button class="btn btn-success review-button" {{action "reviewOrder" model.order.items on="click"}}>Review Order</button>
    </div>

  </div>
</div>

{{#each model.catalogue as |catalogue|}}
<div class="row">
  <div class="col-xs-12">
    <div class="category">
      <div class="row">
        <div {{action "expandSection" catalogue on="click"}}>
          <div class="col-xs-3 col-md-1 text-center">
            <i class="category-icon {{catalogue.icon}}"></i>
          </div>
          <div class="col-xs-8 col-offset-xs-1">
            <div class="category__title">
              {{catalogue.category}}
            </div>
          </div>
        </div>  

        {{#if catalogue.expanded}}
        {{#each catalogue.subcategories as |subcategory|}}
        <div class="row">
          <div class="col-xs-12">
            <div class="subcategory" {{action "expandSection" subcategory on="click"}}>
              {{subcategory.name}}
            </div>

            {{#if subcategory.expanded}}
            {{#each subcategory.items as |item|}}

            <div class="row line-item">
              <div class="col-xs-12 line-item-flex">
               
                <label class="item-label">{{item.label}}</label>
                <i class="glyphicon glyphicon-minus-sign crement minus" {{action "decItem" item on="click"}}></i>
                {{input type="number" min="0" max="9999" class="form-control quantity" value=item.quantity }}
                <i class="glyphicon glyphicon-plus-sign crement" {{action "incItem" item on="click"}}></i>

                {{#if item.ordered}}
                <i class="glyphicon glyphicon-remove-sign remove" {{action "removeItem" item on="click"}}></i>
                {{/if}}

              </div>
            </div>
            {{/each}}
            {{/if}}

          </div>
        </div>
      {{/each}}
      {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
