<table class="table table-striped">

  <caption class="order-summary">
    Order Summary:
    <button class="btn btn-success more-items-btn pull-right" {{action "addMoreItems" on="click"}}>
      Add More Items
    </button>
  </caption>

  <thead>
    <tr>
      <th class="text-center">
        Qty
      </th>
      <th>
        Item
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>

   {{#each model.items as |item|}}
    <tr>
      <td class="text-nowrap text-center">
        <span class="text-center order-crement crement" {{action "decItem" item model on="click"}}>-</span>
          {{input type="number" key-up=(route-action "updateItem" item model) class="form-control quantity order__quantity" value=item.quantity }}
        <span class="text-center order-crement crement" {{action "incItem" item on="click"}}>+</span> 
      </td>
      <td>
          {{item.description}} 
      </td>
      <td>
        <i class="glyphicon glyphicon-remove-sign remove-button" {{action "removeItem" item on="click"}}></i>
      </td>
    </tr>
  {{/each}}

    <tr id="order-total-row">
      <td class="text-center">{{model.totalItems}}</td>
      <td>Total Items</td>
      <td></td>
    </tr> 

  </tbody>
</table>

{{renter-form class="renter-info"
  model=model
  changeset=(changeset model OrderValidations)
  submit=(action "submit")
}}
